[user]
  name = Federico Saravia
  email = fedesaravia@gmail.com

[push]
  default = simple

[color]
  ui = true

[core]
  excludesfile = ~/.gitignore

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  ll = log --graph --pretty=format:'%C(cyan)%h%Creset -%C(yellow)%d%Creset %s - %C(yellow)%aN%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  f  = fetch --prune
  changelog = log --abbrev-commit --pretty=format:'- %h - %s - %aN'

